web/metadataViewer/CEN4_loose.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
Auteur: Erik van de Pol. B3Partners.

Beschrijving schema:
Dit schema is gedeeltelijk gebaseerd op de standaard "esriprof80.dtd". Maar staat ook tags toe die de CEN4 en/of CEN3 standaarden hanteren.
Kortom: Het laat tags toe die MNP in de praktijk gebruikt.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CEN_ingevuld" type="xs:string"/>
	<xs:element name="CharSetCd">
		<xs:complexType>
			<xs:attribute name="Sync" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreaDate" type="xs:string"/>
	<xs:element name="CreaTime" type="xs:string"/>
	<xs:element name="ESRI_NL">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="overzicht" minOccurs="0"/>
				<xs:element ref="identificatie" minOccurs="0"/>
				<xs:element ref="velden" minOccurs="0"/>
				<xs:element ref="kwaliteit" minOccurs="0"/>
				<xs:element ref="documentatie" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Esri">
		<xs:complexType>
			<xs:all>
				<xs:element ref="MetaID"/>
				<xs:element ref="CreaDate"/>
				<xs:element ref="CreaTime"/>
				<xs:element ref="SyncOnce"/>
				<xs:element ref="SyncDate"/>
				<xs:element ref="SyncTime"/>
				<xs:element ref="ModDate"/>
				<xs:element ref="ModTime"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="GeoObjTypCd">
		<xs:complexType>
			<xs:attribute name="Sync" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MetaID" type="xs:string"/>
	<xs:element name="ModDate" type="xs:string"/>
	<xs:element name="ModTime" type="xs:string"/>
	<xs:element name="PresFormCd">
		<xs:complexType>
			<xs:attribute name="Sync" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="QAQC_document" type="xs:string"/>
	<xs:element name="QAQC_document_link" type="xs:string"/>
	<xs:element name="RefSystem">
		<xs:complexType>
			<xs:all>
				<xs:element ref="refSysID"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScopeCd">
		<xs:complexType>
			<xs:attribute name="Sync" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpatRepTypCd">
		<xs:complexType>
			<xs:attribute name="Sync" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SyncDate" type="xs:string"/>
	<xs:element name="SyncOnce" type="xs:string"/>
	<xs:element name="SyncTime" type="xs:string"/>
	<xs:element name="TopoLevCd">
		<xs:complexType>
			<xs:attribute name="Sync" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VectSpatRep">
		<xs:complexType>
			<xs:all>
				<xs:element ref="topLvl"/>
				<xs:element ref="geometObjs"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="aantal_objecten" type="xs:string"/>
	<xs:element name="aard_observatie">
		<xs:complexType>
			<xs:all>
				<xs:element ref="image_size"/>
				<xs:element ref="extra_information"/>
				<xs:element ref="tide"/>
				<xs:element ref="sensor_band"/>
				<xs:element ref="recording_time"/>
				<xs:element ref="pixel_size"/>
				<xs:element ref="pixel_value"/>
				<xs:element ref="preprocessing"/>
				<xs:element ref="radiometric_resolution"/>
				<xs:element ref="scene"/>
				<xs:element ref="sensor_speed"/>
				<xs:element ref="track"/>
				<xs:element ref="source_name"/>
				<xs:element ref="sensor_name"/>
				<xs:element ref="flying_height"/>
				<xs:element ref="weather"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="abbreviated_organisation_name" type="xs:string"/>
	<xs:element name="abbreviated_title" type="xs:string"/>
	<xs:element name="abstract" type="xs:string"/>
	<xs:element name="accconst" type="xs:string"/>
	<xs:element name="addrtype" type="xs:string"/>
	<xs:element name="administrative_metadata">
		<xs:complexType>
			<xs:all>
				<xs:element ref="distribution"/>
				<xs:element ref="point_of_contacts_role" minOccurs="0"/>
				<xs:element ref="organisation_role" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="alternative_title" type="xs:string"/>
	<xs:element name="application_schema_description">
		<xs:complexType>
			<xs:all>
				<xs:element ref="is_identified_by"/>
				<xs:element ref="is_described_by"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="area_name" type="xs:string"/>
	<xs:element name="atprecis">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attalias">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attr">
		<xs:complexType>
			<xs:all>
				<xs:element ref="attrlabl"/>
				<xs:element ref="attalias"/>
				<xs:element ref="attrtype"/>
				<xs:element ref="attwidth"/>
				<xs:element ref="atprecis" minOccurs="0"/>
				<xs:element ref="attscale" minOccurs="0"/>
				<xs:element ref="attrdef" minOccurs="0"/>
				<xs:element ref="attrdefs" minOccurs="0"/>
				<xs:element ref="attrdomv" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="attrdef">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attrdefs">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attrdomv">
		<xs:complexType>
			<xs:all>
				<xs:element ref="udom"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="attribute_type">
		<xs:complexType>
			<xs:all>
				<xs:element ref="attribute_type_name"/>
				<xs:element ref="attribute_type_definition"/>
				<xs:element name="ESRI_NL">
					<xs:complexType>
						<xs:all>
							<xs:element ref="attribute_type_alias" minOccurs="0"/>
							<xs:element ref="attribute_type_type" minOccurs="0"/>
							<xs:element ref="attribute_type_width" minOccurs="0"/>
							<xs:element ref="attribute_type_precision" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="attribute_type_alias" type="xs:string"/>
	<xs:element name="attribute_type_definition" type="xs:string"/>
	<xs:element name="attribute_type_name" type="xs:string"/>
	<xs:element name="attribute_type_precision" type="xs:string"/>
	<xs:element name="attribute_type_type" type="xs:string"/>
	<xs:element name="attribute_type_width" type="xs:string"/>
	<xs:element name="attrlabl">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attrtype">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attscale">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attwidth">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="betrouwbaarheid" type="xs:string"/>
	<xs:element name="bijhoudingsbeleid" type="xs:string"/>
	<xs:element name="bounding">
		<xs:complexType>
			<xs:all>
				<xs:element ref="westbc"/>
				<xs:element ref="eastbc"/>
				<xs:element ref="northbc"/>
				<xs:element ref="southbc"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="bounding_quadrangle">
		<xs:complexType>
			<xs:all>
				<xs:element ref="min_horizontal"/>
				<xs:element ref="max_horizontal"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="caldate" type="xs:string"/>
	<xs:element name="characterset" type="xs:string"/>
	<xs:element name="citation">
		<xs:complexType>
			<xs:all>
				<xs:element ref="citeinfo"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="citeinfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="origin"/>
				<xs:element ref="pubdate"/>
				<xs:element ref="title"/>
				<xs:element ref="ftname"/>
				<xs:element ref="geoform"/>
				<xs:element ref="onlink"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="cntaddr">
		<xs:complexType>
			<xs:all>
				<xs:element ref="addrtype"/>
				<xs:element ref="city"/>
				<xs:element ref="state"/>
				<xs:element ref="postal"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="cntinfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="cntorgp"/>
				<xs:element ref="cntaddr"/>
				<xs:element ref="cntvoice"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="cntorg" type="xs:string"/>
	<xs:element name="cntorgp">
		<xs:complexType>
			<xs:all>
				<xs:element ref="cntper"/>
				<xs:element ref="cntorg"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="cntper" type="xs:string"/>
	<xs:element name="cntvoice" type="xs:string"/>
	<xs:element name="copyright_owners">
		<xs:complexType>
			<xs:all>
				<xs:element ref="organisation"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="cordsysn">
		<xs:complexType>
			<xs:all>
				<xs:element ref="geogcsn"/>
				<xs:element ref="projcsn"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="country" type="xs:string"/>
	<xs:element name="current" type="xs:string"/>
	<xs:element name="dataIdInfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="envirDesc"/>
				<xs:element ref="dataLang"/>
				<xs:element ref="idCitation"/>
				<xs:element ref="spatRpType"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataLang">
		<xs:complexType>
			<xs:all>
				<xs:element ref="languageCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="data_definition">
		<xs:complexType>
			<xs:all>
				<xs:element ref="application_schema_description"/>
				<xs:element ref="object_type"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataqual">
		<xs:complexType>
			<xs:all>
				<xs:element ref="lineage"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataset_description">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="identification"/>
				<xs:element ref="spatial_reference_system"/>
				<xs:element ref="metadata_reference"/>
				<xs:element ref="administrative_metadata"/>
				<xs:element ref="geokey_database" minOccurs="0"/>
				<xs:element ref="overview"/>
				<xs:element ref="quality_element"/>
				<xs:element ref="planar_extent"/>
				<xs:element ref="vertical_extent"/>
				<xs:element ref="temporal_extent"/>
				<xs:element ref="geokey_dataset"/>
				<xs:element ref="data_definition"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataset_herkomst" type="xs:string"/>
	<xs:element name="dataset_language">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="language"/>
				<xs:element ref="characterset"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataset_title" type="xs:string"/>
	<xs:element name="date">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="date_of_production">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="date"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="denflat">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="descript">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="langdata"/>
				<xs:element ref="abstract"/>
				<xs:element ref="purpose"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="detailed">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="enttyp"/>
				<xs:element ref="attr" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="digform">
		<xs:complexType>
			<xs:all>
				<xs:element ref="digtinfo"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="digtinfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="transize"/>
				<xs:element ref="dssize"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="direct">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="direct_positioning_system">
		<xs:complexType>
			<xs:all>
				<xs:element ref="identifier"/>
				<xs:element ref="geodetic_datum_name"/>
				<xs:element ref="map_projection_name"/>
				<xs:element ref="geodetic_ellipsoid_name"/>
				<xs:element ref="name"/>
				<xs:element ref="vertical_datum_name"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="distInfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="distributor"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="distinfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="stdorder"/>
				<xs:element ref="resdesc" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="distorFormat">
		<xs:complexType>
			<xs:all>
				<xs:element ref="formatName"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="distorTran">
		<xs:complexType>
			<xs:all>
				<xs:element ref="onLineSrc"/>
				<xs:element ref="transSize"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="distribution">
		<xs:complexType>
			<xs:all>
				<xs:element ref="on_line_access"/>
				<xs:element ref="restrictions_on_use"/>
				<xs:element name="ESRI_NL" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element ref="restrictions_on_use_link"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="copyright_owners"/>
				<xs:element ref="unit_of_distribution"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="distributor">
		<xs:complexType>
			<xs:all>
				<xs:element ref="distorFormat"/>
				<xs:element ref="distorTran"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="document" type="xs:string"/>
	<xs:element name="document_link" type="xs:string"/>
	<xs:element name="documentatie">
		<xs:complexType>
			<xs:all>
				<xs:element ref="document"/>
				<xs:element ref="document_link"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="dssize">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eainfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="detailed"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="eastbc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="efeacnt">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="efeageom">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="efeatyp">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ellips">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="entry_date" type="xs:string"/>
	<xs:element name="enttyp">
		<xs:complexType>
			<xs:all>
				<xs:element ref="enttypl"/>
				<xs:element ref="enttypt"/>
				<xs:element ref="enttypc"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="enttypc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="enttypl">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="enttypt">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="envirDesc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="esriterm">
		<xs:complexType>
			<xs:all>
				<xs:element ref="efeatyp"/>
				<xs:element ref="efeageom"/>
				<xs:element ref="esritopo"/>
				<xs:element ref="efeacnt"/>
				<xs:element ref="spindex"/>
				<xs:element ref="linrefer"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="esritopo">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="extent_date" type="xs:string"/>
	<xs:element name="extent_status" type="xs:string"/>
	<xs:element name="extra_information" type="xs:string"/>
	<xs:element name="fax" type="xs:string"/>
	<xs:element name="feast">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="flying_height" type="xs:string"/>
	<xs:element name="fnorth">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="formatName">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ftname">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="future_review_date" type="xs:string"/>
	<xs:element name="gegevens_hoofdgroep" type="xs:string"/>
	<xs:element name="geoObjCnt">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="geoObjTyp">
		<xs:complexType>
			<xs:all>
				<xs:element ref="GeoObjTypCd"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="geodetic">
		<xs:complexType>
			<xs:all>
				<xs:element ref="horizdn"/>
				<xs:element ref="ellips"/>
				<xs:element ref="semiaxis"/>
				<xs:element ref="denflat"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="geodetic_datum_name" type="xs:string"/>
	<xs:element name="geodetic_ellipsoid_name" type="xs:string"/>
	<xs:element name="geoform">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="geogcsn">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="geografische_extent" type="xs:string"/>
	<xs:element name="geographic_area">
		<xs:complexType>
			<xs:all>
				<xs:element ref="area_name"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="geokey_database">
		<xs:complexType>
			<xs:all>
				<xs:element ref="description"/>
				<xs:element ref="id"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="geokey_dataset">
		<xs:complexType>
			<xs:all>
				<xs:element ref="aard_observatie"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="geometObjs">
		<xs:complexType>
			<xs:all>
				<xs:element ref="geoObjTyp"/>
				<xs:element ref="geoObjCnt"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="horizdn">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="horizsys">
		<xs:complexType>
			<xs:all>
				<xs:element ref="cordsysn"/>
				<xs:element ref="planar"/>
				<xs:element ref="geodetic"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="id" type="xs:string"/>
	<xs:element name="idCitation">
		<xs:complexType>
			<xs:all>
				<xs:element ref="resTitle"/>
				<xs:element ref="presForm"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="identCode">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="identificatie">
		<xs:complexType>
			<xs:all>
				<xs:element ref="invuller"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="identification">
		<xs:complexType>
			<xs:all>
				<xs:element ref="alternative_title"/>
				<xs:element ref="dataset_title"/>
				<xs:element ref="abbreviated_title" minOccurs="0"/>
				<xs:element ref="version" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="identifier" type="xs:string"/>
	<xs:element name="idinfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="native"/>
				<xs:element ref="descript"/>
				<xs:element ref="citation"/>
				<xs:element ref="timeperd"/>
				<xs:element ref="status"/>
				<xs:element ref="spdom"/>
				<xs:element ref="keywords"/>
				<xs:element ref="accconst"/>
				<xs:element ref="useconst"/>
				<xs:element ref="natvform"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="image_size" type="xs:string"/>
	<xs:element name="indirect_positioning_system">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="location_class_name"/>
				<xs:element ref="reference_date"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="intented_application_scale" type="xs:string"/>
	<xs:element name="invuller" type="xs:string"/>
	<xs:element name="inwinningsmethode" type="xs:string"/>
	<xs:element name="is_described_by" type="xs:string"/>
	<xs:element name="is_identified_by" type="xs:string"/>
	<xs:element name="kenmerken_objecten" type="xs:string"/>
	<xs:element name="keywords">
		<xs:complexType>
			<xs:all>
				<xs:element ref="theme"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="kwaliteit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dataset_herkomst" minOccurs="0"/>
				<xs:element ref="nauwkeurigheid" minOccurs="0"/>
				<xs:element ref="precisie" minOccurs="0"/>
				<xs:element ref="betrouwbaarheid" minOccurs="0"/>
				<xs:element ref="toegestaan_gebruiksdoel" minOccurs="0"/>
				<xs:element ref="volledigheid" minOccurs="0"/>
				<xs:element ref="kwaliteitsbeschrijving" minOccurs="0"/>
				<xs:element ref="kwaliteitscontrole" minOccurs="0"/>
				<xs:element ref="QAQC_document" minOccurs="0"/>
				<xs:element ref="QAQC_document_link" minOccurs="0"/>
				<xs:element ref="inwinningsmethode" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="standaard" minOccurs="0"/>
				<xs:element ref="bijhoudingsbeleid" minOccurs="0"/>
				<xs:element ref="updatedness" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="kwaliteitsbeschrijving" type="xs:string"/>
	<xs:element name="kwaliteitscontrole" type="xs:string"/>
	<xs:element name="langdata">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="langmeta">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="languageCode">
		<xs:complexType>
			<xs:attribute name="Sync" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="last_update_date" type="xs:string"/>
	<xs:element name="latprjc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineage">
		<xs:complexType>
			<xs:all>
				<xs:element ref="production" minOccurs="0"/>
				<xs:element ref="source_and_processes" minOccurs="0"/>
				<xs:element ref="procstep" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="linkage">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="linrefer">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="location_class_name" type="xs:string"/>
	<xs:element name="longpc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="map_projection_name" type="xs:string"/>
	<xs:element name="mapproj">
		<xs:complexType>
			<xs:all>
				<xs:element ref="mapprojn"/>
				<xs:element ref="stereo"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapprojn">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="max_horizontal">
		<xs:complexType>
			<xs:all>
				<xs:element ref="position"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="maximum_height_value" type="xs:string"/>
	<xs:element name="mdChar">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CharSetCd"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="mdDateSt">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mdHrLv">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ScopeCd"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="mdHrLvName">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mdLang">
		<xs:complexType>
			<xs:all>
				<xs:element ref="languageCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="mdStanName">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mdStanVer">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="measure_result">
		<xs:complexType>
			<xs:all>
				<xs:element ref="value"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="metadata">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Esri" minOccurs="0"/>
				<xs:element ref="idinfo" minOccurs="0"/>
				<xs:element ref="metainfo" minOccurs="0"/>
				<xs:element ref="dataset_description" minOccurs="0"/>
				<xs:element ref="spdoinfo" minOccurs="0"/>
				<xs:element ref="spref" minOccurs="0"/>
				<xs:element ref="eainfo" minOccurs="0"/>
				<xs:element ref="ESRI_NL" minOccurs="0"/>
				<xs:element ref="distinfo" minOccurs="0"/>
				<xs:element ref="dataIdInfo" minOccurs="0"/>
				<xs:element ref="mdLang" minOccurs="0"/>
				<xs:element ref="mdStanName" minOccurs="0"/>
				<xs:element ref="mdStanVer" minOccurs="0"/>
				<xs:element ref="mdChar" minOccurs="0"/>
				<xs:element ref="mdHrLv" minOccurs="0"/>
				<xs:element ref="mdHrLvName" minOccurs="0"/>
				<xs:element ref="distInfo" minOccurs="0"/>
				<xs:element ref="refSysInfo" minOccurs="0"/>
				<xs:element ref="spatRepInfo" minOccurs="0"/>
				<xs:element ref="mdDateSt" minOccurs="0"/>
				<xs:element ref="dataqual" minOccurs="0"/>
			</xs:choice>
			<xs:attribute name="lang" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="metadata_reference">
		<xs:complexType>
			<xs:all>
				<xs:element ref="entry_date"/>
				<xs:element ref="last_update_date"/>
				<xs:element ref="future_review_date" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="metainfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="langmeta"/>
				<xs:element ref="metstdn"/>
				<xs:element ref="metstdv"/>
				<xs:element ref="mettc"/>
				<xs:element ref="metc"/>
				<xs:element ref="metd"/>
				<xs:element ref="metextns"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="metaquality">
		<xs:complexType>
			<xs:all>
				<xs:element ref="reliability"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="metc">
		<xs:complexType>
			<xs:all>
				<xs:element ref="cntinfo"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="metd">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="metextns">
		<xs:complexType>
			<xs:all>
				<xs:element ref="onlink"/>
				<xs:element ref="metprof"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="method" type="xs:string"/>
	<xs:element name="metprof">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="metstdn">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="metstdv">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mettc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="min_horizontal">
		<xs:complexType>
			<xs:all>
				<xs:element ref="position"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="minimum_height_value" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="native">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="natvform">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nauwkeurigheid" type="xs:string"/>
	<xs:element name="northbc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="object_type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="object_type_name"/>
				<xs:element ref="object_type_definition"/>
				<xs:element ref="attribute_type" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="object_type_definition" type="xs:string"/>
	<xs:element name="object_type_name" type="xs:string"/>
	<xs:element name="onLineSrc">
		<xs:complexType>
			<xs:all>
				<xs:element ref="orDesc"/>
				<xs:element ref="linkage"/>
				<xs:element ref="protocol"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="on_line_access">
		<xs:complexType>
			<xs:all>
				<xs:element ref="url"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="onlink">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="orDesc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="organisation">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="abbreviated_organisation_name" minOccurs="0"/>
				<xs:element ref="name"/>
				<xs:element ref="phone" minOccurs="0"/>
				<xs:element ref="fax" minOccurs="0"/>
				<xs:element ref="email" minOccurs="0"/>
				<xs:element ref="www_home_page" minOccurs="0"/>
				<xs:element ref="organisation_address" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="organisation_address">
		<xs:complexType>
			<xs:all>
				<xs:element ref="street"/>
				<xs:element ref="zip"/>
				<xs:element ref="city"/>
				<xs:element ref="country"/>
				<xs:element ref="visiting_address"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="organisation_name" type="xs:string"/>
	<xs:element name="organisation_role">
		<xs:complexType>
			<xs:all>
				<xs:element ref="description"/>
				<xs:element ref="organisation"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="origin" type="xs:string"/>
	<xs:element name="overview">
		<xs:complexType>
			<xs:all>
				<xs:element ref="summary"/>
				<xs:element ref="producer_organisation_name"/>
				<xs:element ref="purpose_of_production"/>
				<xs:element ref="intented_application_scale"/>
				<xs:element ref="spatial_schema_type"/>
				<xs:element ref="dataset_language"/>
				<xs:element ref="potential_usage" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="overzicht">
		<xs:complexType>
			<xs:all>
				<xs:element ref="set2D3D"/>
				<xs:element ref="gegevens_hoofdgroep"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="period_end_date" type="xs:string"/>
	<xs:element name="period_range_date_qualifier" type="xs:string"/>
	<xs:element name="period_range_details">
		<xs:complexType>
			<xs:all>
				<xs:element ref="period_start_date"/>
				<xs:element ref="period_end_date"/>
				<xs:element ref="period_range_date_qualifier"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="period_start_date" type="xs:string"/>
	<xs:element name="phone" type="xs:string"/>
	<xs:element name="pixel_size" type="xs:string"/>
	<xs:element name="pixel_value" type="xs:string"/>
	<xs:element name="planar">
		<xs:complexType>
			<xs:all>
				<xs:element ref="planci"/>
				<xs:element ref="mapproj"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="planar_extent">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="extent_status"/>
				<xs:element ref="extent_date"/>
				<xs:element ref="bounding_quadrangle"/>
				<xs:element ref="geographic_area"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="plance">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="planci">
		<xs:complexType>
			<xs:all>
				<xs:element ref="plance"/>
				<xs:element ref="plandu"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="plandu">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="point_of_contact">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="point_of_contact_name" minOccurs="0"/>
				<xs:element ref="organisation_name" minOccurs="0"/>
				<xs:element ref="phone" minOccurs="0"/>
				<xs:element ref="fax" minOccurs="0"/>
				<xs:element ref="email" minOccurs="0"/>
				<xs:element ref="www_home_page" minOccurs="0"/>
				<xs:element ref="point_of_contact_address" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="point_of_contact_address">
		<xs:complexType>
			<xs:all>
				<xs:element ref="street"/>
				<xs:element ref="zip"/>
				<xs:element ref="city"/>
				<xs:element ref="country"/>
				<xs:element ref="visiting_address"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="point_of_contact_name" type="xs:string"/>
	<xs:element name="point_of_contacts_role">
		<xs:complexType>
			<xs:all>
				<xs:element ref="description"/>
				<xs:element ref="point_of_contact"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="position">
		<xs:complexType>
			<xs:all>
				<xs:element ref="x"/>
				<xs:element ref="y"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="postal" type="xs:string"/>
	<xs:element name="precisie">
		<xs:complexType>
			<xs:all>
				<xs:element ref="systematische_fout"/>
				<xs:element ref="standaarddeviatie_xy"/>
				<xs:element ref="standaarddeviatie_z"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="potential_usage" type="xs:string"/>
	<xs:element name="preprocessing" type="xs:string"/>
	<xs:element name="presForm">
		<xs:complexType>
			<xs:all>
				<xs:element ref="PresFormCd"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="procdesc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="procstep">
		<xs:complexType>
			<xs:all>
				<xs:element ref="procdesc"/>
				<xs:element ref="srcused"/>
				<xs:element ref="date"/>
				<xs:element ref="time"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="producer_organisation" type="xs:string"/>
	<xs:element name="producer_organisation_name" type="xs:string"/>
	<xs:element name="production">
		<xs:complexType>
			<xs:all>
				<xs:element ref="producer_organisation" minOccurs="0"/>
				<xs:element ref="method" minOccurs="0"/>
				<xs:element ref="date_of_production"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="progress" type="xs:string"/>
	<xs:element name="projcsn">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocol">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ptvctcnt">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ptvctinf">
		<xs:complexType>
			<xs:all>
				<xs:element ref="esriterm"/>
				<xs:element ref="sdtsterm"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="pubdate" type="xs:string"/>
	<xs:element name="purpose" type="xs:string"/>
	<xs:element name="purpose_of_production" type="xs:string"/>
	<xs:element name="quality_element">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lineage"/>
				<xs:element ref="quality_text" minOccurs="0"/>
				<xs:element ref="quality_parameters" maxOccurs="unbounded"/>
				<xs:element ref="quality_text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quality_indicator_set">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="quality_measure_set"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="quality_measure_set">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="measure_result"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="quality_parameters">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="quality_indicator_set"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="quality_text" type="xs:string"/>
	<xs:element name="radiometric_resolution" type="xs:string"/>
	<xs:element name="recording_time" type="xs:string"/>
	<xs:element name="refSysID">
		<xs:complexType>
			<xs:all>
				<xs:element ref="identCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="refSysInfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="RefSystem"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference_date" type="xs:string"/>
	<xs:element name="reliability" type="xs:string"/>
	<xs:element name="resTitle">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resdesc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="restrictions_on_use" type="xs:string"/>
	<xs:element name="restrictions_on_use_link" type="xs:string"/>
	<xs:element name="scene" type="xs:string"/>
	<xs:element name="sdtsterm">
		<xs:complexType>
			<xs:all>
				<xs:element ref="sdtstype"/>
				<xs:element ref="ptvctcnt"/>
			</xs:all>
			<xs:attribute name="Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sdtstype">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="semiaxis">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sensor_band" type="xs:string"/>
	<xs:element name="sensor_name" type="xs:string"/>
	<xs:element name="sensor_speed" type="xs:string"/>
	<xs:element name="set2D3D" type="xs:string"/>
	<xs:element name="sngdate">
		<xs:complexType>
			<xs:all>
				<xs:element ref="caldate"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="source_and_processes">
		<xs:complexType>
			<xs:all>
				<xs:element ref="source_history"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="source_history">
		<xs:complexType>
			<xs:all>
				<xs:element ref="organisation" minOccurs="0"/>
				<xs:element ref="method"/>
				<xs:element ref="metaquality" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="source_name" type="xs:string"/>
	<xs:element name="southbc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="spatRepInfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="VectSpatRep"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="spatRpType">
		<xs:complexType>
			<xs:all>
				<xs:element ref="SpatRepTypCd"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="spatial_reference_system">
		<xs:complexType>
			<xs:all>
				<xs:element ref="direct_positioning_system"/>
				<xs:element ref="indirect_positioning_system"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="spatial_schema_type">
		<xs:complexType>
			<xs:all>
				<xs:element ref="spatial_schema_type_id"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="spatial_schema_type_id" type="xs:string"/>
	<xs:element name="spdoinfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="direct"/>
				<xs:element ref="ptvctinf"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="spdom">
		<xs:complexType>
			<xs:all>
				<xs:element ref="bounding"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="spindex">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="spref">
		<xs:complexType>
			<xs:all>
				<xs:element ref="horizsys"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="srcused">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="standaard" type="xs:string"/>
	<xs:element name="standaarddeviatie_xy" type="xs:string"/>
	<xs:element name="standaarddeviatie_z" type="xs:string"/>
	<xs:element name="state" type="xs:string"/>
	<xs:element name="status">
		<xs:complexType>
			<xs:all>
				<xs:element ref="progress"/>
				<xs:element ref="update"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="stdorder">
		<xs:complexType>
			<xs:all>
				<xs:element ref="digform"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="stereo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="longpc"/>
				<xs:element ref="latprjc"/>
				<xs:element ref="feast"/>
				<xs:element ref="fnorth"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="street" type="xs:string"/>
	<xs:element name="summary" type="xs:string"/>
	<xs:element name="systematische_fout" type="xs:string"/>
	<xs:element name="temporal_extent">
		<xs:complexType>
			<xs:all>
				<xs:element ref="extent_status"/>
				<xs:element ref="extent_date"/>
				<xs:element ref="temporal_extent_description"/>
				<xs:element ref="period_range_details"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="temporal_extent_description" type="xs:string"/>
	<xs:element name="theme">
		<xs:complexType>
			<xs:all>
				<xs:element ref="themekt"/>
				<xs:element ref="themekey"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="themekey" type="xs:string"/>
	<xs:element name="themekt" type="xs:string"/>
	<xs:element name="tide" type="xs:string"/>
	<xs:element name="time">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="timeinfo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="sngdate"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="timeperd">
		<xs:complexType>
			<xs:all>
				<xs:element ref="current"/>
				<xs:element ref="timeinfo"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="toegestaan_gebruiksdoel" type="xs:string"/>
	<xs:element name="topLvl">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="TopoLevCd"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="track" type="xs:string"/>
	<xs:element name="transSize">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="transize">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="udom">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="unit_of_distribution" type="xs:string"/>
	<xs:element name="update" type="xs:string"/>
	<xs:element name="updatedness" type="xs:string"/>
	<xs:element name="url" type="xs:string"/>
	<xs:element name="useconst" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="velden">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="CEN_ingevuld"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="version" type="xs:string"/>
	<xs:element name="vertical_datum_name" type="xs:string"/>
	<xs:element name="vertical_extent">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="extent_status"/>
				<xs:element ref="extent_date"/>
				<xs:element ref="minimum_height_value"/>
				<xs:element ref="maximum_height_value"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="volledigheid">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="aantal_objecten"/>
				<xs:element ref="kenmerken_objecten"/>
				<xs:element ref="geografische_extent"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="visiting_address">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="street"/>
				<xs:element ref="zip"/>
				<xs:element ref="city"/>
				<xs:element ref="country"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="weather" type="xs:string"/>
	<xs:element name="westbc">
		<xs:complexType mixed="true">
			<xs:attribute name="Sync" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="www_home_page" type="xs:string"/>
	<xs:element name="x" type="xs:string"/>
	<xs:element name="y" type="xs:string"/>
	<xs:element name="zip" type="xs:string"/>
</xs:schema>
